@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  box-sizing: boder-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
  gap: 2rem;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: 0.8rem 1rem;
  color: var(--textColor);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  background: var(--lightskyblue);
  color: var(--PrimaryColor);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}
.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #87cefa 40%, #e6eded 40%);
  overflow: hidden;
}
